body {
    background-color: red;
}

.content-block {
    width:200px;
    background-color:white;
}

.newToDo {
    display:flex;
   width:max-content;
}

.td {
    width:max-content;
    height:max-content;
}

.del {
    height:20px;
    width:20px;
}